*{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body{
    background-color: rgb(255, 238, 0);

}

p{
    background-color:rgb(17, 149, 226);
    text-align: center;
    padding: 10%;
    margin-left: 10%;
    margin-right: 10%;
}


nav{
    background-color:rgb(15, 152, 47) ;
    text-align: center;
    padding: 2%;
}

.giallo-super{
    background-color: antiquewhite;
}