body{
     
    background-image:url(3c6e7638-ade9-4dd3-9e59-8ff4c67b40af_alta-libre-aspect-ratio_default_0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
  background-color: rgba(2, 2, 2, 0.538);
  color: white;
}